body {
  margin: 0;
  padding: 0;
}

.top-nav{
  display: flex;
}

.top-nav a{
  color: #555;
}

.main-nav{
  display: flex;
}

/* nav a {
  text-decoration: none;
  color: #555;
  font-family: Maquette, Helvetica Neue, Arial, sans-serif;
}

.top-nav {
  width: 100%;
  display: inline-flex;
  background-color: #131313;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.topNav-left {
  display: flex;
  align-self: flex-end;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  margin-left: 20px;
}
 .header-img 
.topNav-right {
  display: flex;
  align-self: flex-end;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  margin-right: 20px;
}

.main-nav {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  height: 48px;
  margin: 0;
}

.main-nav a {
  color: #aaa;
}

.nav-logo {
  width: auto;
  height: 100%;
}

.mainNav-left {
  align-items: center;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.mainNav-right {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  margin-right: 20px;
  height: 100%;
  width: auto;
}

.mainNav-right i {
  font-size: 1.5em;
  color: #aaa;
} */

main {
  margin: auto;
  width: 100%;
}

.header-img{
  width: 99vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 50vw;
}

.header-img .main-header-img{
  width: 60%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header-img .sub-header-img{
  width: 39%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
}

.header-img .sub-header-img > div{
width: 100%;
height: 49%;
background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  position: relative;
}


.logo-date{
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
}


.logo-date .cover-logo{
  height: 100px;
  width: 50%;
  z-index: 2;
}

.logo-date .article-date{
  color: white;
  padding: 15px 15px;
  z-index: 2;
}

.cover-text{
 padding-top: 100px;
 height: 40%;
z-index: 2;
}

.cover-text h3{
  color: white;
  font-size: 2.4em;
  font-weight: 800;
  width: 70%;
  margin: 0;
  padding: 0;
  padding: 0 10px;
  z-index: 2;
}

.sub-img-text{
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  padding: 10px 15px;
}

.sub-img-text h3{
color: white;
font-weight: 700;
font-size: 1.5em;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.sub-img-text > div{
  z-index: 10;
}

.sub-img-text small{
  z-index: 10;
  padding-right: 10px;
}

.sub-img-text time{
  z-index: 10;
  color: white;
}

.sub-img-text > div small{
  color: white;

}

.cover-text .byline small{
  color: white;
  padding: 10px;
}



.header-img .img-overlay{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
  background: rgba(255,211,209,0.74);
background: -moz-linear-gradient(-45deg, rgba(255,211,209,0.74) 0%, rgba(240,12,0,0.86) 51%, rgba(0,0,0,0.98) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,211,209,0.74)), color-stop(51%, rgba(240,12,0,0.86)), color-stop(100%, rgba(0,0,0,0.98)));
background: -webkit-linear-gradient(-45deg, rgba(255,211,209,0.74) 0%, rgba(240,12,0,0.86) 51%, rgba(0,0,0,0.98) 100%);
background: -o-linear-gradient(-45deg, rgba(255,211,209,0.74) 0%, rgba(240,12,0,0.86) 51%, rgba(0,0,0,0.98) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,211,209,0.74) 0%, rgba(240,12,0,0.86) 51%, rgba(0,0,0,0.98) 100%);
background: linear-gradient(135deg, rgba(255,211,209,0.74) 0%, rgba(240,12,0,0.86) 51%, rgba(0,0,0,0.98) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd3d1', endColorstr='#000000', GradientType=1 );

}

.wrapper {
  max-width: 1192px;
  margin: 0 auto;
  margin-top: 250px;
  font-family: Maquette, Helvetica Neue, Arial, sans-serif;
  border: 1px solid black;
}

.wrapper h3 {
  font-family: inherit;
  color: rgba(248, 80, 50, 1);
  font-size: 2.5em;
} 

.lastest-news {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(8, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 10px;
}

.lastest-elements {
  width: 100%;
  font: inherit;
  color: black;
}

.lastest-elements img {
  width: 100%;
  height: 170px;
}

.lastest-elements h5 {
  font-size: 1em;
}

.lastest-elements small {
  font-size: 0.8em;
  font: inherit;
  color: #555;
}

.footer-socials {
  background-color: rgb(19, 19, 19);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer-legal-wrapper {
  background-color: rgb(0, 0, 0);
}

.footer-legal {
  width: 35%;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer-legal small {
  font-size: 0.8em;
  font-family: "Courier New", Courier, monospace;
  color: #7a7a7a;
}

.socials {
  width: 30%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.socials a {
  font-size: 2em;
  color: #7a7a7a;
  font-family: Maquette, Helvetica Neue, Arial, sans-serif;
}

.links {
  width: 20%;
  padding-top: 10px;
  padding-bottom: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.links a {
  font-size: 1em;
  color: #7a7a7a;
  font-family: Maquette, Helvetica Neue, Arial, sans-serif;
  text-decoration: none;
  padding-left: 15px;
}

@media only screen and (min-width: 1024px) {
  .lastest-news {
    grid-template-rows: repeat(2, 2fr);
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .cover-story {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .cover-story :first-child {
    grid-column: 1/3;
    grid-row: 1/3;
  }

    .header-img{
      display: flex;
    }

    .header-img .main-header-img{
      width: 60%;
}

}

@media only screen and (max-width: 460px){
    
    .top-nav {
        display: none;
    }

    .cover-title{
        font-size: 1.4em;
    }

    .socials{
        width: 90%;
    }

    .links{
        width: 80%;
    }

    .links a{
        font-size: .6em;
    }

    .footer-legal{
        width: 80%;
        text-align: center;
    }

    .header-img{
      flex-direction: column;
    }

.header-img .main-header-img{
  width: 100%;
  height: 150px;
  background-color: teal;
}

.header-img .sub-header-img{
  width: 100%;
  height: 62%;
}


.header-img .sub-header-img > div{
background-color: goldenrod;
height: 48%;
}

.cover-text h3{
  font-size: 1.3em;
  width: 80%;
}

.logo-date .cover-logo{
  display: none;
  height: 0;
}

.logo-date{
  height: 80%;
  display: none;
  
}

.main-header-img{
  margin-bottom: 13px;
}

.cover-text{
 height: 100%;
 padding-top: 50px;
 
}

.header-img .sub-header-img{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  
}

.sub-img-text h3{
font-size: 1.2em;
}

.sub-img-text{
  margin-top: 10%;
}

}




