* {
  font-family: ARS Maquette, Helvetica Neue, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.mobile-nav {
  display: none;
}

nav a {
  text-decoration: none;
  color: lightgray;
  font-family: Maquette, Helvetica Neue, Arial, sans-serif;
}

.top-nav {
  width: 100vw;
  display: inline-flex;
  background-color: #131313;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

.topNav-left {
  display: flex;
  align-self: flex-end;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  margin-left: 20px;
}

.topNav-right {
  display: flex;
  align-self: flex-end;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin-right: 30px;
}

.main-nav {
  width: 100vw;
  display: inline-flex;
  justify-content: space-between;
  height: 48px;
  margin: 0;
  top: 0;
}

.main-nav a {
  color: #aaa;
}

.nav-logo {
  width: auto;
  height: 100%;
  display: none;
}

.mainNav-left {
  align-items: center;
  width: 47%;
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
}

.mainNav-right {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  height: 100%;
  width: auto;
  margin-right: 30px;
}

.mainNav-right i {
  font-size: 1em;
  color: #aaa;
  padding-left: 15px;
}

.mainNav-right .ham {
  color: #f42;
}

.header-img {
  width: 97vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 30vw;
}

.header-img .main-header-img {
  width: 60%;
  height: 100%;
  background-image: url(assets/images/40.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.header-img .sub-header-img {
  width: 39%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sub-img-text > div {
  z-index: 10;
}

.blogs-wrapper > div {
  width: 32%;
}

.sub-img-text h3 {
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  z-index: 2;
  margin: 0;
  padding: 0;
}

.wrapper h3 {
  font-family: inherit;
  color: rgba(248, 80, 50, 1);
  font-size: 2em;
}

.cover-text h3 {
  color: white;
  font-size: 2.4em;
  font-weight: 800;
  width: 90%;
  margin: 0;
  padding: 0;
  padding: 0 10px;
  z-index: 2;
}

.latest-section-wrapper > div > div h3 {
  font-weight: 700;
}

.latest-section-wrapper > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest-section-wrapper > div > div {
  width: 24%;
  margin-bottom: 20px;
}

.header-img .sub-header-img > .top-img {
  width: 100%;
  height: 49%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  position: relative;
  background-image: url(assets/images/4.png);
}

.header-img .sub-header-img > .bottom-img {
  width: 100%;
  height: 49%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: content-box;
  position: relative;
  background-image: url(assets/images/4.png);
}

.blogs-card .first {
  background-image: url(assets/images/17.jpg);
}

.blogs-card .second {
  background-image: url(assets/images/18.png);
}

.blogs-card .third {
  background-image: url(assets/images/19.jpg);
}

.blogs-card .fouth {
  background-image: url(assets/images/20.png);
}

.blogs-card .fifth {
  background-image: url(assets/images/21.png);
}

.blogs-card .sith {
  background-image: url(assets/images/29.png);
}

.blogs-card .seven {
  background-image: url(assets/images/23.png);
}

.blogs-card .eigth {
  background-image: url(assets/images/24.png);
}

.blogs-card .nine {
  background-image: url(assets/images/25.jpg);
}

.logo-date {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: space-between;
  padding: 10px 10px;
}

.logo-date .cover-logo {
  height: 100px;
  width: 50%;
  z-index: 10;
}

.logo-date .article-date {
  color: white;
  padding: 15px 15px;
  z-index: 2;
}

.cover-text {
  padding-top: 100px;
  height: 50%;
  z-index: 2;
}

.sub-img-text {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 2;
  padding: 10px 15px;
}

.sub-img-text small {
  z-index: 10;
  padding-right: 10px;
}

.sub-img-text time {
  z-index: 10;
  color: white;
}

.lastest-elements small {
  font-size: 0.8em;
  font-family: inherit;
  color: #555;
}

.footer-legal-wrapper small {
  color: gray;
}

.sub-img-text > div small {
  color: white;
}

.cover-text .byline small {
  color: white;
  padding: 10px;
}

.header-img .img-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: 1;
  background: rgba(255, 211, 209, 0.74);
  background:
    -moz-linear-gradient(
      -45deg,
      rgba(255, 211, 209, 0.74) 0%,
      rgba(240, 12, 0, 0.86) 51%,
      rgba(0, 0, 0, 0.98) 100%
    );
  background:
    -webkit-linear-gradient(
      -45deg,
      rgba(255, 211, 209, 0.74) 0%,
      rgba(240, 12, 0, 0.86) 51%,
      rgba(0, 0, 0, 0.98) 100%
    );
  background:
    -o-linear-gradient(
      -45deg,
      rgba(255, 211, 209, 0.74) 0%,
      rgba(240, 12, 0, 0.86) 51%,
      rgba(0, 0, 0, 0.98) 100%
    );
  background:
    linear-gradient(
      135deg,
      rgba(255, 211, 209, 0.74) 0%,
      rgba(240, 12, 0, 0.86) 51%,
      rgba(0, 0, 0, 0.98) 100%
    );
}

.wrapper {
  width: 85vw;
  margin: 0 auto;
}

.lastest-news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.lastest-elements {
  width: 24%;
  color: black;
  margin-bottom: 20px;
}

.lastest-elements img {
  width: 100%;
  height: 170px;
}

.lastest-elements h5 {
  font-size: 0.9em;
  margin: 5px;
  padding: 0;
}

.latest-funding {
  width: 85vw;
  margin: 0 auto;
}

.latest-funding .section-header-text {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.socials a {
  font-size: 2em;
  color: #7a7a7a;
  font-family: Maquette, Helvetica Neue, Arial, sans-serif;
}

.links a {
  font-size: 1em;
  color: #7a7a7a;
  font-family: Maquette, Helvetica Neue, Arial, sans-serif;
  text-decoration: none;
}

.latest-funding .section-header-text a {
  font-size: 0.9em;
  text-decoration: none;
}

.latest-funding .section-header-text h5 {
  color: #f42;
  font-size: 1.5em;
}

.latest-section-wrapper .header-link a {
  text-decoration: none;
  color: #f42;
}

footer .footer-socials .links a {
  font-size: 0.8em;
  padding-top: 20px;
}

.latest-funding .section-header-text .links a {
  margin-left: 10px;
  text-decoration: none;
  color: #f42;
}

.latest-funding .cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.latest-funding .cards-wrapper .cards {
  width: 23%;
  height: 270px;
}

.latest-funding .cards-wrapper .cards a {
  text-decoration: none;
}

.footer-legal img {
  width: 30px;
  height: 20px;
}

.latest-section-wrapper > div > div img {
  width: 100%;
  height: 200px;
}

.latest-funding .cards-wrapper > div img {
  width: 20%;
  height: 50px;
  margin: 10px 10px;
}

.latest-funding .cards-wrapper .cards .top-section {
  width: 100%;
  background-color: #f42;
  height: 40px;
}

.latest-funding .cards-wrapper .cards .down-section {
  width: 100%;
  background-color: rgb(255, 233, 230);
  height: 70px;
}

.latest-funding .cards-wrapper .cards .top-section .head-text {
  display: flex;
}

.latest-funding .cards-wrapper .top-section .head-text > div h4 {
  margin: 0;
  padding: 0;
}

.blogs-wrapper .blogs-card .inner-img p {
  width: 70%;
  color: #f42;
  font-weight: 800;
  font-size: 0.75em;
}

.footer-legal-wrapper small span {
  color: white;
  font-weight: 700;
}

.blogs-wrapper .blogs-card .inner-img p span {
  font-weight: 600;
  font-size: 0.8em;
}

.latest-funding .cards-wrapper .cards .tags p {
  font-size: 0.8em;
}

footer .footer-socials .socials i {
  font-size: 0.7em;
}

.latest-funding .cards-wrapper .cards .tags p i {
  font-size: 1em;
  margin-right: 10px;
}

.latest-funding .cards-wrapper .cards .main-card-text p {
  font-size: 0.8em;
  color: gray;
}

.latest-funding .cards-wrapper .top-section .head-text > div p {
  margin: 0 10px;
  padding: 0;
  font-size: 0.8em;
  color: gray;
}

.latest-funding .cards-wrapper .top-section .head-text > div .title {
  color: white;
  font-weight: 700;
  margin: 10px 10px;
}

.latest-funding .cards-wrapper .top-section .head-text > div .money {
  margin: 10px 10px;
  color: black;
  margin-top: 20px;
}

.latest-funding .cards-wrapper .cards .tags {
  margin: 0 10px;
}

.latest-funding .cards-wrapper .cards .main-card-text {
  margin: 0 15px;
}

/* blogs section */
.blogs-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 85vw;
  margin: 0 auto;
}

.blogs-wrapper .top-big-link {
  text-decoration: none;
  color: #f42;
  font-weight: 800;
  font-size: 1.3em;
}

.blogs-wrapper > div .img-wrapper img {
  width: 32%;
}

.blogs-wrapper .blogs-card .card-links ul li {
  padding: 5px 0;
  margin: 5px 0;
  border-bottom: 1px solid lightgray;
}

.blogs-wrapper .blogs-card .card-links ul {
  margin: 0;
  padding: 0;
  margin-left: 17px;
}

.blogs-wrapper .blogs-card .card-links ul li a {
  text-decoration: none;
  color: gray;
  font-size: 0.8em;
}

.blogs-wrapper .blogs-card .main-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;
  height: 270px;
  position: relative;
}

.blogs-wrapper .blogs-card .main-img h5 {
  color: white;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

.blogs-wrapper .blogs-card .main-img small {
  color: white;
}

.blogs-wrapper .blogs-card .main-img .img-text {
  margin: 0;
  padding: 0;
  align-self: flex-end;
  padding-top: 140px;
  height: 270px;
  z-index: 3;
  position: absolute;
}

.blogs-wrapper .blogs-card .main-img .img-text small {
  padding: 5px 10px;
}

.blogs-wrapper .blogs-card .main-img .img-text h5 {
  padding: 5px 10px;
}

.blogs-wrapper .blogs-card .inner-img {
  background-color: rgb(255, 235, 232);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  height: 70px;
}

.blogs-wrapper .blogs-card .inner-img img {
  width: 25%;
  margin-top: 3px;
}

.blogs-wrapper .blogs-card .main-img .blog-card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  background:
    -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  background:
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    );
}

.latest-section-wrapper {
  width: 85vw;
  margin: 0 auto;
  margin-top: 50px;
}

.latest-section-wrapper .header-link h3 {
  color: #f42;
  font-size: 1.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.latest-section-wrapper .header-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .latest-funding {
    width: 95vw;
  }

  .latest-funding .cards-wrapper .last {
    display: none;
  }

  .latest-funding .cards-wrapper {
    justify-content: space-between;
  }

  .latest-funding .cards-wrapper .cards {
    width: 32%;
  }

  .blogs-wrapper {
    width: 95vw;
  }

  .latest-section-wrapper {
    width: 95vw;
  }

  .header-img {
    display: flex;
  }

  .header-img .main-header-img {
    width: 60%;
  }

  .top-nav {
    display: block;
    display: flex;
  }

  nav a {
    font-size: 0.8em;
    color: lightgray;
  }

  nav a:first-child {
    color: white;
  }

  .topNav-left {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  .topNav-right {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }

  .cover-text {
    padding-top: 110px;
    height: 75%;
  }

  .cover-text h3 {
    font-size: 1.5em;
  }

  .sub-img-text h3 {
    font-size: 0.9em;
  }

  .wrapper {
    width: 95vw;
  }

  .lastest-elements {
    margin-bottom: 15px;
  }
}

footer .footer-socials {
  width: 100vw;
  background-color: #131313;
  padding-top: 30px;
  padding-bottom: 30px;
}

footer .footer-socials .socials {
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer-socials .links {
  width: 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-legal-wrapper {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: #000;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-legal-wrapper .footer-legal {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .top-nav {
    display: block;
    display: flex;
  }

  nav a {
    font-size: 0.8em;
  }

  .topNav-left {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: 100px;
  }

  .topNav-right {
    display: flex;
    justify-content: space-between;
    width: 25%;
  }

  .mainNav-left {
    width: 70%;
  }

  .mainNav-left img {
    display: inline-block;
  }

  .cover-text {
    padding-top: 30px;
    height: 70%;
    z-index: 2;
  }

  .cover-text small {
    font-size: 0.7em;
  }

  .header-img time {
    font-size: 0.7em;
  }

  .sub-img-text {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 2;
    padding: 10px 15px;
  }

  .sub-img-text h3 {
    font-size: 0.9em;
  }

  .sub-img-text small {
    font-size: 0.7em;
  }

  .wrapper {
    width: 95vw;
  }

  .lastest-news {
    justify-content: flex-start;
  }

  .lastest-elements {
    width: 31%;
    margin-right: 17px;
    margin-bottom: 10px;
  }

  .wrapper h3 {
    font-size: 1.5em;
  }

  .lastest-elements h5 {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }

  .lastest-elements small {
    font-size: 0.5em;
    color: gray;
  }

  .latest-funding {
    width: 95vw;
  }

  .blogs-wrapper .last {
    display: none;
  }

  .latest-funding .cards-wrapper .last {
    display: none;
  }

  .latest-funding .cards-wrapper .cards .main-card-text p {
    font-size: 0.7em;
  }

  .latest-funding .section-header-text {
    display: block;
  }

  .latest-funding .section-header-text a {
    display: block;
    padding: 5px 0;
  }

  .latest-funding .section-header-text h5 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .blogs-wrapper {
    width: 95vw;
  }

  .blogs-wrapper > div {
    width: 49%;
  }

  .latest-section-wrapper > div {
    justify-content: flex-start;
  }

  .latest-section-wrapper {
    width: 95vw;
  }

  .latest-section-wrapper > div > div {
    width: 31%;
    margin-right: 17px;
  }

  .cover-text h3 {
    font-size: 1em;
    width: 80%;
  }

  .latest-section-wrapper > div > div h3 {
    font-size: 0.9em;
  }

  .header-img {
    display: flex;
  }

  .header-img .main-header-img {
    width: 60%;
  }

  .links {
    width: 50%;
    font-size: 0.6em;
  }
}

@media screen and (max-width: 480px) {
  .mobile-nav {
    width: 100vw;
    margin: 0 auto;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: white;
  }

  .mobile-nav img {
    width: 25%;
    height: 100%;
  }

  .top-nav {
    display: none;
  }

  .main-nav {
    display: none;
  }

  .latest-funding {
    width: 90vw;
  }

  .latest-funding .section-header-text {
    display: block;
  }

  .latest-funding .section-header-text a {
    display: block;
    padding: 5px 0;
  }

  .lastest-elements h5 {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }

  .latest-funding .section-header-text h5 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .lastest-elements img {
    width: 20%;
    height: 70px;
    margin-right: 15px;
  }

  .latest-section-wrapper > div > div img {
    width: 20%;
    height: 70px;
    margin-right: 15px;
  }

  .latest-funding .cards-wrapper > div img {
    width: 18%;
    height: 60px;
  }

  .latest-funding .cards-wrapper .cards {
    width: 100%;
  }

  .blogs-wrapper {
    width: 90%;
  }

  .blogs-wrapper > div {
    width: 100%;
  }

  .latest-section-wrapper > div > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sub-img-text h3 {
    font-size: 1em;
  }

  .wrapper h3 {
    font-size: 1.8em;
  }

  .latest-section-wrapper > div > div h3 {
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .header-img {
    flex-direction: column;
    margin-top: 50px;
  }

  .main-header-img {
    margin-bottom: 13px;
  }

  .header-img .main-header-img {
    width: 100%;
    height: 100%;
    background-color: teal;
  }

  .header-img .sub-header-img {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .header-img .sub-header-img > div {
    background-color: goldenrod;
    height: 48%;
  }

  .logo-date .cover-logo {
    display: none;
    height: 0;
  }

  .logo-date {
    height: 80%;
    display: none;
  }

  .cover-text {
    height: 100%;
    padding-top: 20px;
  }

  .sub-img-text {
    margin-top: 12%;
  }

  .sub-img-text small {
    font-size: 0.7em;
  }

  .wrapper {
    margin-top: 370px;
    width: 95vw;
  }

  .lastest-elements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
  }

  .lastest-elements small {
    margin-top: 5px;
    font-size: 0.7em;
  }

  footer .footer-socials .socials {
    width: 70%;
  }

  footer .footer-socials .links {
    width: 60%;
  }

  footer .footer-socials .links a {
    font-size: 0.7em;
  }

  .footer-legal-wrapper .footer-legal {
    width: 70vw;
    text-align: center;
  }
}
